[submodule "smart_ptr"]
	path = libs/smart_ptr
	url = http://github.com/boostorg/smart_ptr.git
        fetchRecurseSubmodules = on-demand
[submodule "fusion"]
	path = libs/fusion
	url = http://github.com/boostorg/fusion.git
        fetchRecurseSubmodules = on-demand
[submodule "tr1"]
	path = libs/tr1
	url = http://github.com/boostorg/tr1.git
        fetchRecurseSubmodules = on-demand
